<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @secret.name %>
</p>

<p>
  <strong>Photo data:</strong>
  <%= @secret.photo_data %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
