<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @secret.name %>
</p>

<p>
  <strong>Photo data:</strong>
  <%= image_tag @secret.photo.derivation_url(:thumbnail, @secret.class.name, @secret.id, 100, 100) %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
